{
    "extends": [
        "airbnb-base",
        "plugin:react/recommended"
    ],
    "env": {
        "es6": true,
        "browser": true,
        "node": true
    },
    "parser": "babel-eslint",
    "plugins": [
        "react",
        "jsx-a11y"
    ],
    "rules": {
        "strict": 0,
        "semi": ["error", "never"],
        "comma-dangle": ["error", "never"],
        "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }]
    }
}